// text colors
$text-dark: #212121;
$text-paragraph: #444;
$text-lightest: #fff;
$shadow: #f7f7f7;

// background colors
$background-white: #fff;
$background-gray: #717171;
$background-img:rgba(134, 134, 134, 0.73);
$background-light-grey: #F0F0F0;
$background-gold:rgba(179, 107, 0, 0.5);

$main-background1: #ffffff;
$main-background2:  #231f20;
$main-text: #fff;
$main-green: #2DE2BF;
$inactive-text: #98A1B9;

// various colors
$accent-color: rgb(255, 193, 7);
$border-color: #e8e8e8;

// properties text 
$base-text-size: 14px;
$base-line-height:24px;

// media
$extraSmall: 320px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;


